{% extends "base.html" %}
{% load i18n %}
{% load svg %}

<!-- This is for loading pics -->
{% load static %}

{% block content %}

<div class="w-[88%] lg:w-8/10 mx-auto my-10 lg:text-base lg:min-h-[calc(77vh-2.5rem)] text-3xl pb-4 relative dark:bg-black dark:text-white min-h-100">
    <h1 class="lg:text-2xl text-6xl font-bold w-fit mx-auto mb-6">{% trans "Impressum" %}</h1>
    <div class="flex flex-col justify-start items-start lg:gap-4 gap-8">
        <p><strong>{% trans "Owner:" %}</strong> Joel Mario Armenta</p>
        <p><strong>{% trans "Address:" %}</strong> Hansering 61, 23558 Lübeck Germany</p>
        <p><strong>{% trans "email:" %}</strong> armentamj@gmail.com</p>
        <p class="min-h-70"><strong>{% trans "Disclaimer:" %}</strong>
            {% blocktrans trimmed %}
            This website is a personal portfolio created exclusively to showcase my professional skills and projects for
            employment
            opportunities. It does not constitute a commercial offer of services or a business activity. The contents of
            this site were prepared with great care. However, I cannot guarantee the accuracy or completeness of the
            information provided. As a service provider, I am responsible for my own content on these pages under
            general laws (§ 7
            paragraph 1 DDG). This website contains links to my external profiles on GitHub and LinkedIn. While these
            links were checked for legal
            violations at the time of creation, I have no influence over the future design or content of these
            third-party sites and
            cannot assume liability for them.
            {% endblocktrans %}
        </p>
        <p><strong>{% trans "Weather icons provided by Erik Flowers." %}</strong></p>

    </div>
    <!-- Links at the bottom in the middle -->
    <div class="mt-20 flex gap-4 w-fit mx-auto">
        <!-- LinkedIn -->
        <a href="http://linkedin.com" target="_blank" class="block w-24 h-24 lg:w-12 lg:h-12 [&_svg]:w-full [&_svg]:h-full"
            title="{% trans 'Joel Armentas linked in profile' %}">
            {% svg 'linkedin' %}
        </a>
        
        <!-- GitHub -->
        <a href="https://github.com" target="_blank"
            class="block w-24 h-24 lg:w-12 lg:h-12 [&_svg]:w-full [&_svg]:h-full dark:[&_svg_*]:stroke-white dark:[&_svg_*]:stroke-[0.5px]"
            title="{% trans 'github profile for armentamj' %}">
            {% svg 'github' %}
        </a>
        
        <!-- Email -->
        <a href="mailto:armentamj+jobprospects@gmail.com" target="_blank"
            class="block w-24 h-24 lg:w-12 lg:h-12 [&_svg]:w-full [&_svg]:h-full dark:[&_svg_*]:stroke-white dark:[&_svg_*]:stroke-[0.5px]"
            title="{% trans 'Email me' %}">
            {% svg 'email' %}
        </a>
</div>



{% endblock %}