{% extends "base.html" %}

{% block content %}
<div class="w-[90%] lg:w-4xl mx-auto my-10 pb-4 lg:text-base text-3xl h-fit">
    <h1 class="text-2xl font-bold mb-6 font-michroma">Login</h1>

    <form method="post" class="space-y-6">
        {% csrf_token %}
    
        {% for field in form %}
        <div class="flex flex-col">
            <label class="font-michroma text-sm mb-1">{{ field.label }}</label>
    
            <div class="border border-black rounded-md [&_input]:w-full">
                {{ field }}
            </div>
    
            {% if field.help_text %}
            <p class="mt-2 text-[12px] text-green-500 font-sans leading-relaxed [&_li]:list-none [&_li]:p-0 [&_li]:mt-1">
                {{ field.help_text|safe }}
            </p>
            {% endif %}
    
    
            {% if field.errors %}
            <p class="text-xs text-red-600 mt-1">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}
    
        <div class="pt-4">
            <button type="submit" class="cursor-pointer border-box w-full hover:bg-black/30 hover:text-black text-white bg-black duration-300 ease-in px-4 py-2 rounded-md font-michroma">
                Login
            </button>
        </div>
    </form>


    <p class="mt-6 text-sm">Don't have an account? <a href="{% url 'signup' %}" class="underline hover:text-black-600 font-semibold">Sign up here</a></p>
    <p class="mt-6 text-sm"><a href="{% url 'password_reset' %}" class="underline hover:text-black-600 font-semibolds">Forgot password?</a></p>    
</div>

{% endblock %}