{% extends "base.html" %}

{% block content %}
<div class="w-[90%] lg:w-4xl mx-auto my-10 pb-4 lg:text-base text-3xl h-fit">
    <h1 class="text-2xl font-bold mb-6 font-michroma [&_#id_profile_picture]:text-4">Create Account</h1>

    <form method="post" class="space-y-6" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div id="eli" class="flex flex-col [&_li]:mt-2 [&_li]:text-green-600 [&_li]:list-none [&_li]:text-xs [&_li]:font-sans">
            <label class="font-michroma text-sm mb-1">{{ field.label }}</label>
            
            <div class="border rounded-md [&_input]:w-full">
                {{ field }}
            </div>

            {% if field.help_text %}
            <p class="mt-2 text-[12px] text-green-600 font-sans leading-relaxed list-none p-0 mt-1">
                {{ field.help_text|safe }}
            </p>
            {% endif %}


            {% if field.errors %}
            <p class="text-xs text-red-600 mt-1">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <div class="pt-4">
            <button type="submit" class="cursor-pointer border-box w-full hover:bg-black/30 hover:text-black text-white bg-black duration-300 ease-in px-4 py-2 rounded-md font-michroma">
                Create Account
            </button>
        </div>
    </form>

    <p class="mt-6 text-sm">Already have an account?<a href="{% url 'login' %}" class="underline hover:text-black-600 font-semibold">Login here</a></p>
</div>
{% endblock %}