{% load tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{% trans "Joel M. A. Website Portfolio" %}</title>
    {% block extra_head %}{% endblock %}
    <!-- Tailwind v4 -->
    {% tailwind_css %}

    <!-- Weather Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
</head>


<body class="w-full font-michroma bg-stone-50">
    <nav class="h-20 bg-white p-4 text-black flex justify-between items-end z-10 shadow-lg sticky top-0 left-0">
        <div class="flex justify-between items-center h-fit gap-4">
            <a href="{% url 'home' %}" class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm">{% trans "Home" %}</a>
            <a class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm" href="{% url 'weather' %}">{% trans "Weather" %}</a>
            <!-- The action must point to the 'set_language' view provided by the i18n include -->
            <div class="w-fit h-fit">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                
                    <!-- Check if '/en/' is in the current path -->
                    {% if '/en/' in request.path or request.path == '/en' %}
                    <!-- If it is in English, switch to German (remove /en) -->
                    <input name="next" type="hidden" value="{{ request.path|slice:'3:' }}">
                    <button class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm" type="submit" name="language" value="de">Deutsch</button>
                    {% else %}
                    <!-- We are in German, switch to English (add /en) -->
                    <input name="next" type="hidden" value="/en{{ request.path }}">
                    <button class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm" type="submit" name="language" value="en">English</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="flex justify-between items-center h-fit gap-4">
            <div class="w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center text-xs font-michroma">
                {{ user.username|slice:":1"|upper }}
            </div>
            <a href="{% url 'impressum' %}" class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm">{% trans "Impressum" %}</a>
            <!-- Direct link to the Admin Login/Panel -->
            <a href="/admin/" class="mx-4 hover:bg-black hover:text-white duration-300 ease-in px-2 py-0.5 rounded-sm">
                {% trans "Admin" %}
            </a>
        </div>
    </nav>

    <main class="lg:container mx-auto mt-8 p-0 bg-white shadow-xl border-t-2 border-gray-100 rounded">
        {% block content %}
        <!-- This is like 'yield' in Rails -->
        {% endblock %}
    </main>
</body>

</html>