{% load tailwind_tags %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio of Joel Armenta, a Full-Stack Web Designer specializing in Ruby, Tailwind, high-performance web design, and SEO.">
    <!-- Open Graph / Facebook / LinkedIn -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://armentamj.de{{ LANGUAGE_CODE }}/">
    <meta property="og:title" content="Joel Armenta | Full-Stack Web Designer">
    <meta property="og:description" content="High-performance web design and development specializing in Ruby, Django, and Tailwind CSS.">
    <meta property="og:image" content="https://armentamj.de{% static 'images/share-image.jpg' %}">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://armentamj.de{{ LANGUAGE_CODE }}/">
    <meta name="twitter:title" content="Joel Armenta | Full-Stack Web Designer">
    <meta name="twitter:description"
        content="High-performance web design and development specializing in Ruby, SEO, and speed optimization, and front-end.">
    <meta name="twitter:image" content="{% static 'images/share-image.jpg' %}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}?v=2">

    <title>{% trans "Joel M. A. Website Portfolio" %}</title>
    <link rel="preload" as="image" href="{% static 'images/joel_garden.avif' %}" fetchpriority="high">
    <!-- Tailwind v4 -->
    {% tailwind_css %}

    <!-- Weather Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
</head>


<body class="w-full font-michroma bg-stone-50 dark:bg-black dark:text-white">
    <nav class="dark:border-b-1 dark:bg-black dark:text-white transition-all duration-300 transform min-h-30 lg:min-h-24 h-fit bg-white p-4 text-black flex flex-col lg:flex-row justify-start lg:justify-between items-center lg:items-end z-10 shadow-lg sticky top-0 left-0 lg:gap-0 gap-5">
        <button aria-label="Toggle Menu" class="menubutton block lg:hidden h-24 w-30 focus:outline-none cursor-pointer absolute top-10 left-6">
            <div class="menucontainer relative w-full h-full">
                <p class="dark:bg-white line-one h-1 rounded-sm bg-black Transform-GPU top-0 absolute right-1/2 translate-x-1/2 w-1/2  font-bold origin-center block leading-none transition-all duration-300 transform">
                </p>
                <p class="dark:bg-white line-two h-1 rounded-sm bg-black Transform-GPU top-5 absolute right-1/2 translate-x-1/2 w-1/2 font-bold block leading-none transition-all duration-300">
                </p>
                <p class="dark:bg-white line-three h-1 rounded-sm bg-black Transform-GPU top-10 absolute right-1/2 translate-x-1/2 w-1/2 font-bold origin-center block leading-none transition-all duration-300 transform">
                </p>
            </div>
        </button>
        <div class="firstmen hidden lg:flex w-full lg:w-fit flex-col lg:flex-row justify-start lg:justify-between items-center h-fit gap-5">
            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %} dark:bg-white dark:text-black shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] {% endif %} hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm">{% trans "Home" %}</a>
            <a href="{% url 'weather' %}" class="{% if request.resolver_match.url_name == 'weather' %} dark:bg-white dark:text-black shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] {% endif %} dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm">{% trans "Weather" %}</a>
            <!-- The action must point to the 'set_language' view provided by the i18n include -->
            <div class="w-fit h-fit">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                
                    <!-- Check if '/en/' is in the current path -->
                    {% if '/en/' in request.path or request.path == '/en' %}
                    <!-- If it is in English, switch to German (remove /en) -->
                    <input name="next" type="hidden" value="{{ request.path|slice:'3:' }}">
                    <button class="dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm" type="submit" name="language" value="de">Deutsch</button>
                    {% else %}
                    <!-- We are in German, switch to English (add /en) -->
                    <input name="next" type="hidden" value="/en{{ request.path }}">
                    <button class="dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm" type="submit" name="language" value="en">English</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="secondmen hidden lg:flex w-full lg:w-fit flex-col lg:flex-row justify-start lg:justify-between items-center h-fit gap-5">
            <div class="hidden lg:w-8 lg:h-8 w-20 h-20 rounded-full bg-gray-200 flex items-center justify-center text-4xl lg:text-xs font-michroma">{{ user.username|slice:":1"|upper }}</div>
            <a href="{% url 'impressum' %}" class="{% if request.resolver_match.url_name == 'impressum' %} dark:bg-white dark:text-black shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] {% endif %} dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm">{% trans "Impressum" %}</a>
            <a href="{% url 'datenschutzerklärung' %}" class="{% if request.resolver_match.url_name == 'datenschutzerklärung' %} dark:bg-white dark:text-black shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] {% endif %} dark:bg-black bg-white dark:hover:bg-white dark:hover:text-black cursor-pointer lg:text-base text-4xl mx-4 hover:shadow-[inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09),inset_0px_0px_5px_rgba(0,0,0,0.09)] transition-all duration-150 ease-in px-2 py-0.5 rounded-sm">{% trans "datenschutzerklärung" %}</a>
            <!-- Direct link to the Admin Login/Panel -->
    </nav>

    <main class="lg:container mx-auto mt-8 p-0 dark:bg-black bg-white shadow-xl dark:border-0 border-t-2 border-gray-100 rounded lg:h-fit h-screen flex flex-col justify-start items-center">
        {% block content %}
        <!-- This is like 'yield' in Rails -->
        {% endblock %}
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
                const btn = document.querySelector('.menubutton');

                // Burger lines
                const l1 = document.querySelector('.line-one');
                const l2 = document.querySelector('.line-two');
                const l3 = document.querySelector('.line-three');

                // Menu containers
                const firstMen = document.querySelector('.firstmen');
                const secondMen = document.querySelector('.secondmen');

                if (btn) {
                    btn.addEventListener('click', () => {
                        // Animate burger to X and back
                        l1.classList.toggle("rotate-45");
                        l1.classList.toggle("translate-y-[20px]");
                        l2.classList.toggle("opacity-0");
                        l3.classList.toggle("-rotate-45");
                        l3.classList.toggle("-translate-y-[20px]");

                        // Toggle menus visibility
                        // We use ?. just in case one menu isn't on the page (e.g. if user is logged out)
                        firstMen?.classList.toggle("hidden");
                        firstMen?.classList.toggle("flex");
                        secondMen?.classList.toggle("hidden");
                        secondMen?.classList.toggle("flex");
                    });
                }
            });
    </script>
</body>
</html>