{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="w-[90%] lg:w-4xl mx-auto my-10 pb-4 lg:text-base text-3xl h-fit">
    <h1 class="lg:text-2xl text-6xl font-bold w-fit mx-auto mb-0">Joel M. Armenta</h1>
    <h2 class="font-semibold w-fit text-md mx-auto mb-8">Full Stack Web Developer</h2>
    <div class="flex flex-col justify-start items-center gap-4">
        <p class="w-full">
            Hello, I'm Joel - a passionate Jr. Full Stack Web Developer with a particular love for the creativity of front-end
            development. Originally from L.A., CA, I was raised in Miami, FL, and have been calling Germany home since 2017. My
            coding journey began in early 2023, and I'm proud to have earned my Full Stack Web Developer certification from
            Le Wagon Berlin. Fast forward to today and I have expanded my stack to include a framework for front-end, Django, and Python.
        </p>
        <div class="flex flex-col justify-start items-center  lg:flex-row  lg:justify-between lg:items-start lg:gap-0 gap-4">
            <div class="w-full lg:w-7/10 lg:h-full">
                <h2 class="font-semibold w-fit text-md mx-auto mb-8">Skills</h2>
                <div class="grid grid-cols-4 gap-4 place-items-center">
                    <!-- <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'python.svg' %}" alt="Python">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'django.svg' %}" alt="Django"> -->
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'html.svg' %}" alt="HTML">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'css.svg' %}" alt="CSS">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'javascript.svg' %}" alt="JS">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'ruby.svg' %}" alt="Ruby">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'rails.svg' %}" alt="Rails">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'sql.svg' %}" alt="SQL">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'vue.svg' %}" alt="Vue">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'vuemeta.svg' %}" alt="Vue Meta">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'pinia.svg' %}" alt="Pinia">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'tailwind.svg' %}" alt="Tailwind">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'docker.svg' %}" alt="Docker">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'Figma.svg' %}" alt="Figma">
                    <img class="w-24 h-24 lg:w-12  lg:h-12 object-contain" src="{% static 'seo.svg' %}" alt="SEO">
                </div>
            </div>
            <img class="rounded-xs w-full lg:w-3/10 object-cover -scale-x-100" src="{% static 'joel_garden.jpg' %}" alt="Joel at Miami Beach botanical Garden">
        </div>       
    </div>
</div>
{% endblock %}