@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../templates/**/*.html";
@source "../../../**/templates/**/*.html";

/* 1. Register the local font file */
@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Use the web path that Django serves */
  src: url('/static_prod/fonts/michroma-v21-latin-regular.woff2') format('woff2');
  }

/* 2. Add it to your Tailwind theme */
@theme {
  --font-michroma: "Michroma", sans-serif;
}