{% extends "base.html" %}
{% load static %}
{% load weather_extras %}
{% load i18n %}

{% block content %}
<div class="w-[90%] lg:w-4xl mx-auto lg:my-10 h-full lg:h-fit lg:text-base text-3xl flex flex-col justify-start items-center pb-4 dark:bg-black dark:text-white">

    <!-- Title -->
    <h1 class="lg:text-2xl text-6xl font-bold w-fit mx-auto mb-8 lg:mb-4">{% trans "Weather" %}</h1>
    <div class="flex justify-center items-center h-fit w-fit mb-4">
        <form class="flex justify-center items-center h-fit w-fit" method="GET" action="{% url 'weather' %}">
            <div class="h-fit w-fit flex justify-between items-center gap-0 rounded-lg dark:border-white border-2 border-black overflow-hidden">
                <label class="px-2 font-michroma w-fit border-r border-black/20 dark:border-white">{% trans "City:" %} </label>
                <input class="px-2 outline-none" type="text" name="city" placeholder="{% trans 'Search city...' %}" value="{{ city }}">
            </div>
            <div class="ml-4 h-fit w-fit flex justify-center items-center">
                <button class="cursor-pointer border-box w-full dark:hover:bg-white dark:hover:text-black hover:bg-black/30 hover:text-black text-white bg-black dark:border dark:border-white duration-300 ease-in px-4 py-0.5 rounded-md font-michroma"
                    type="submit">
                    {% trans "Search" %}
                </button>
            </div>
        </form>
    </div>
    <!-- Search Form -->

    <!-- Error Message -->
    {% if error %}
    <p class="text-red-500 mb-4">{{ error }}</p>
    {% endif %}

    {% if current %}
    <!-- Current Weather Section -->
    <div class="flex flex-col items-center mb-16 lg:mb-8">
        <h2 class="mt-8 lg:mt-0 lg:text-base text-5xl font-bold font-michroma">{{ current.curr_res.name }}, {{ current.curr_res.sys.country }}</h2>
        <i class="wi wi-owm-{{ current.id }} text-[240px] lg:text-[160px] text-blue-400 my-12 lg:my-4"></i>
        <div class="text-center space-y-3 lg:space-y-1">
            <p class="{% if 'en' in request.path %}capitalize{% endif %} lg:text-base text-3xl">{{ current.description }}</p>
            <p class="lg:text-base text-3xl">{% trans "Current:" %} {{ current.temp }}{% if units == 'imperial' %}°F{% else %}°C{% endif %}
            </p>
            <p class="lg:text-base text-3xl">
                {% trans "Feels Like:" %} {{ current.curr_res.main.feels_like|floatformat:0 }} {% if units == 'imperial' %}°F{% else %}°C{% endif %}
            </p>
            <p class="lg:text-base text-3xl">{% trans "Humidity:" %} {{ current.humidity }}%</p>
            <p class="lg:text-base text-3xl">
                <!-- This line makes a veriable to avoid mutation of the original data and will be passed to call 
                 an i18n Key (to_cardinal is a templatetag to turn the degrees into cardinal directions) -->
                {% with direction=current.wind.deg|to_cardinal %}
                <!-- This makes searches for the key called the same as the template variable direction -->
                {% trans direction as translated_dir %}

                <!-- Use the 'units' variable to pick the right string ie it comes back in imperial and mph is selected else it is metric and kph is selected-->
                {% if units == 'imperial' %}
                <!-- This line makes a template variable called deg which is equal to   -->
                {% blocktrans with deg=translated_dir speed=current.wind.speed|floatformat:0 %}
                Wind: {{ deg }} / {{ speed }} MPH
                {% endblocktrans %}
                {% else %}
                {% blocktrans with deg=translated_dir speed=current.wind.speed|floatformat:0 %}
                Wind: {{ deg }} / {{ speed }} KPH
                {% endblocktrans %}
                {% endif %}
                {% endwith %}
            </p>
            <!-- <p class="lg:text-base text-3xl"></p> -->
        </div>
    </div>

    <!-- 5-Day Forecast Section -->
    <div class="w-full mt-8">
        <h2 class="font-bold mb-4 text-center font-michroma dark:border-white border-b border-black/30 pb-4 lg:pb-2">{% trans "5-Day Forecast" %}</h2>
        <div class="flex justify-center items-start gap-15">
            {% for day in forecast %}
            <div class="flex flex-col justify-start items-center text-center gap-5 lg:gap-3 mx-3">
                <!-- 
                  Instead of day.day, this uses the date filter with "l" (lowercase L).
                  This tells Django to look at the date object and output the full 
                  day name in the current active language (e.g. Montag, Dienstag).
                -->
                <p class="mb-0.5 lg:mb-0 font-semibold lg:text-sm text-3xl">{% with day_name=day.date_obj|date:"D" %}{% translate day_name %}{% endwith %}</p>
                <i class="mb-0.5 lg:mb-0 wi wi-owm-{{ day.id }} text-6xl lg:text-3xl text-blue-400"></i>
                <p class="mb-0.5 lg:mb-0 lg:text-sm text-3xl font-bold">{{ day.max_temp }}°</p>
                <p class="mb-0.5 lg:mb-0 lg:text-sm text-3xl text-gray-500">{{ day.min_temp }}°</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- This is for seeing the response on the console -->
    <script>console.log("Here is the Local Weather api response: ", {{ current.curr_res | safe }})</script>
</div>
{% endblock %}